.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    background-color: white;
    border: #000000 2px solid;
    border-radius: 15px;
    font-size: 15px; 
    margin: 20px; 
    padding: 10px;
  }
  
  .pic {
    width: 100%;
    padding-top: 7%;
    max-height: 350px;
  }
  
  .cardTitle {
    font-weight: 700;
    font-size: 30px;
    padding-top: 4%;
  }
  
  .cardSubtitle {
    font-weight: 400;
    font-size: 25px;
    margin-top: -2%;
  }
  
  .addCalendar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  