/* .headerTitle {
    width: 626px;
    font-weight: 700;
    font-size: 64px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 8%;
} */