.eventPosition {
    position: relative;
}

.headerTitle {
    position: absolute;
    width: 626px;
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
    letter-spacing: -1.28px;
    text-transform: capitalize;
    color: #000000;
    padding-left: 7%;
    z-index: 10;
}

.headerSubtitle {
    position: absolute;
    padding-top: 6%;
    justify-content: left;
    padding-left: 7.5%;
    font-size: 36px;
    font-weight: 500;
    z-index: 10;
    color: #000;
    font-style: normal;
    line-height: 60px; /* 166.667% */
    letter-spacing: -0.72px;

}

.backBlur {
    display: flex;
    background-image: url('../images/eventsBack.svg');
    background-repeat: no-repeat;


}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.carousel {
    position: absolute;
    z-index: 5;
    margin-top: 12%;
    margin-left: 6%;
    width: 95vw;
}