.bottomBar {
    padding-top: 100px;
    position: relative;

}

.textField {
    position: absolute;
    top: 77%;
    left: 32%; 
    text-align: center;
}

.sectionContainer {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 45px;  
    margin-top: 1%;
    margin-right: 12%;
    align-items: right;
    justify-content: right;
    z-index: 2;
    
}

.section {
    flex: 1;
    margin: 10px;
    text-decoration: none;
    font-weight: 800 !important;
    background-color: transparent;
    border: none;
}

.backImage {
    width: 100vw;
}

.contact {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 50%;
    position: absolute;
    top: 37%; 
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid black;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.contact:hover {
    box-shadow: 0px 4px 0px #070707;
}

.bigContain {
    display: flex;
    justify-content: center;
    align-content: center;
}